@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}

.hidsit{
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0;
}

/* Hide  arrows for Firefox*/
input[type=number]{
  -moz-appearance: textfield;
}

/* Modal container at bottom with no scroll */
.modal-slide-up .ant-modal {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100% !important;
  max-width: 100%;
  border-radius: 16px 16px 0 0;
  animation: slideUp 0.3s ease-out;
  transform: translateY(100%);
  height: auto;            /* modal adjusts only to content */
  max-height: none;        /* disable internal scroll */
}

/* When open → slide into place */
.modal-slide-up .ant-modal-open .ant-modal {
  transform: translateY(0);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* 
/* Slide-up effect for Ant Design modal */
.modal-slide-up .ant-modal {
  transition: transform 0.3s ease-in-out !important;
  transform: translateY(100%);
}

.modal-slide-up .ant-modal.ant-modal-open {
  transform: translateY(0) !important;
}

@media (max-width: 640px) {
  .custom-mobile-modal .ant-modal-content {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0;
  }

   .custom-mobile-modal .ant-modal {
    margin: 0;
    bottom: 0;
    width: 100% !important;
    max-width: 100%;
    height: auto;
    border-radius: 0;
  }

  .costom-mobile-model .ant-modal-content{
    padding: 1.5rem;
  }

} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.footerA a {
  color: white;
  text-decoration: none; /* optional, removes underline */
}
.footerA h4 {
  color: white;
  cursor: default;
  text-decoration: underline;
  text-underline-position: under; /* 'under' works better cross-browser */
}

.postHiddn{
  display: none;
}

:where(.css-1v28nim).ant-card .ant-card-body {
  padding: 0 !important;
}
.darkVoilet{
  color: #011638 !important;
  outline: #011638 !important;
  outline: 2cm !important;
  outline-offset: 2cm !important;
}

.perdetdacaabsolute{
  position: static;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  margin-top: -7px;
  position: relative;
  z-index: 2;
}

input[type="range"]::-moz-range-thumb{
width: 16px;
height: 16px;
border-radius: 50%;
background: #3b82f6;
cursor: pointer;
position: relative;
z-index: 2;
}

input[type="range"]::-webkit-slider-runnable-track{
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track{
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background: white !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

.menu-btn{
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 0.05rem;
  background: #011638 !important;
}



.navBtn{
  color: white !important;
}

.serchboxDropDown{
  padding: 10px !important;
  border: none;
}
.banerImage{
  height: 20vw !important;
}
.menu-btn:hover{
  background-color: transparent !important;
  color: whitesmoke !important;
  letter-spacing: 0.05rem;
}

.default-btn{
  border: 1px solid !important;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #F40076, #FF512F, #FF9966);
  padding: 0;
}

:where(.css-dev-only-do-not-override-1v28nim).ant-card .ant-card-body {
    padding: 2px !important;
    border-radius: 0 0 8px 8px;
}

.shadow-none{
  border: none;
}

a{
  color: white;
}
.webkitFillAvailable{
  width: -webkit-fill-available;
}
.webkitHeightFillAvailable{
  height: -webkit-fill-available;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media only screen and (max-width: 900px) {
  .postPropertyNavbtn{
    display: none !important;
  }
  .mobileDisplay{
  display: none !important;
}
}

.clip-slant {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
   transform: rotate(180deg);
   background: white !important;
}

/* ====== Base (Mobile-first) ====== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #111;
}

h1 {
  font-size: 1.5rem;   /* ~24px */
  line-height: 1.8rem;
}

h3 {
  font-size: 1.125rem; /* ~18px */
}

section{
  max-width: 1865px !important;
}
/* p {
  font-size: 0.9rem;   /* ~14px */
/* } */ 

a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #1677ff;
}

.ant-btn {
  font-size: 14px;
  padding: 6px 0px;
  border-radius: 8px;
}

.myCustomIcon {
  font-size: 24px;
}

.cutit{
  display: none;
}


/* ===== Mobile (≥425px) ===== */
@media screen and (min-width: 320px) {
  .topSearchbox{
    top:86%;
  }

  .banerImage{
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 40vw !important;
    border-radius: 0.5vw;
  }

  .searchBar{
    width:80vw;
  }

  .searchBoxes{
    width: 100%;
  }
  /* .buttonStyle{
    display: none;
  } */

  .loctate{
    display: none;
  }

  
  .LoginHideMobile{
  display: none  !important;
}
}
/* ====== Tablet (≥768px) ====== */
@media screen and (min-width: 768px) {
  h1 { font-size: 2rem; line-height: 2.3rem; }
  h3 { font-size: 1.25rem; }
  /* p  { font-size: 1rem; } */
  a  { font-size: 1rem; }

 .topSearchbox{
    top:86%;
  }

  .LoginHideMobile{
  display: flex !important;
}

  .propertyListingImage{
    height: 50vw !important;
    width: 100%;
  }
  .ant-btn {
    font-size: 15px;
    padding: 8px 20px;
  }

  .banerImage{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20vw !important;
    border-radius: 0;
  }
  .projectsPhotos{
    width: 10vw;
    height: 5vw;
  }
}

/* ====== Laptop (≥1024px) ====== */
@media screen and (min-width: 1024px) {
  h1 { font-size: 2.25rem; line-height: 2.6rem; }
  h3 { font-size: 0.9rem; }
  /* p  { font-size: 0.8rem; } */
  Link{font-size: 0.9rem; }
  a  { font-size: 0.9rem;  font-weight: 500; color: #011c47e3;}
  .propertyListingFilter{
    width: 25vw;
  }

   .perdetdacaabsolute{
  position: absolute;
  right: 60px;
  top: 340px;
}
  .propertyListingHeight{
    height: max-content !important;
    width: min-content !important;
  }

  .propertyListingDatamain{
    width: 66% !important;
  }
  .propertyListingImage{
    height: 16vw !important;
     width: 30vw;
     border-radius: 12px;
  }

  .ant-btn {
    font-size: 0.9rem;
    padding: 0px 18px;
    font-weight:600;
  }
  .homeContainer{
    max-width: 1200px !important;
  }
  .topSearchbox{
    top:73%;
  }
}

/* ====== Laptop (≥1400px) ====== */
@media screen and (min-width: 1400px) {
  .homeContainer{
    max-width: 1270px !important;
  }
  .topSearchbox{
    top:77%;
  }
}

/* ====== Desktop (≥1440px) ====== */
@media screen and (min-width: 1440px) {
  h1 { font-size: 2.5rem; line-height: 2.8rem; }
  h2 { font-size: 1.5rem; line-height: 1.9rem; }
  h3 { font-size: 1.5rem; }
  /* p  { font-size: 1.1rem; } */
  a  { font-size: 1.1rem; }
  .propertyListingDatamain{
    width: 66% !important;
  }
  .propertyListingFilter{
    width: max-content !important;
  }
  .propertyListingHeight{
    height: max-content !important;
  }
  .propertyListingImage{
    height: 20vw !important;
  }
  .ant-btn {
    font-size: 17px;
    padding: 12px 26px;
  }
}

/* ====== Ultra-wide 4K (≥1650px) ====== */
@media screen and (min-width: 1650px) {
  .topSearchbox{
    top:80%;
  }
  
}

/* ====== Ultra-wide 4K (≥1999px) ====== */
@media screen and (min-width: 1999px) {
  .topSearchbox{
    top:86%;
  }
}


/* ====== Ultra-wide 4K (≥2560px) ====== */
@media screen and (min-width: 2560px) {
  h1 { font-size: 3rem; line-height: 3.2rem; }
  h2 {font-size: 1.1rem; line-height: 2.0rem;}
  h3 { font-size: 1.75rem; }
  /* p  { font-size: 1.3rem;} */
  a  { font-size: 1.25rem; }

  .ant-btn {
    font-size: 20px;
    padding: 14px 32px;
    border-radius: 12px;
  }

  .topSearchbox{
    top:88%;
  }

  .top {
    top: 17.5vw !important;
  }
}
